.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.font{
    font-weight:900;
}